@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
body{
    background-color: whitesmoke;
    padding: unset;
    margin: unset;
}
.container1{
    display: flex;
    border: none;
    box-shadow: 0px 13px 22px -3px  #64DFDF;
}
.container1 img{
    margin-right: 40px;
}
.logo{
    width:132px;height:48px;
    margin-left: 50px;
}
.navbar2{
    display: flex;
    position: absolute;
    right: 0%;
}
.navbar2 a{
    text-decoration: none;
    color: black;
    font-style: oblique bold;
    font-size: 15pt;
    font-family: arial, sans-serif;
    text-align: center;
    margin-right: 40px;
}
.container2{
    display: flex;
    justify-content: flex-start;
    margin-top: 5%;
    box-shadow: 0px 13px 22px -3px  #64DFDF;
}
.container_child2{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    color: #6930C3;
}
.container_child2 h1{
    font-size: 30pt;
    font-family: Arial, sans-serif;
}
.container_child2 p{
    font-size: 20pt;
    font-family: Arial, sans-serif;
}
.container_child1-1{
    display: flex;
    justify-content: flex-start;
}
.container2 img{
    box-shadow: 3px 0px 16px 1px;
    border-radius: 30px;
    margin-left: 10px;
}
.container3{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
    height: 250px;
    padding-left: 20px;
    padding-right: 20px;
}
.container3 h2{
    color: #6930C3;
    margin-left: 100px;
    font-size: 40px;
}
.cover_container_child3{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    font-size: 20px;
}
.container_child3{
    margin: 10px;
    max-width: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: #64DFDF;
    border-radius: 40px;
}
.container_child3 a{
    width: 100%;
    text-align: center;
    text-decoration: none;
    width: 250px;
}
.container_child3 a:hover{
    color: whitesmoke;
}
.container4{
    display: flex;
    margin-top: 7%;
    background-color: #64DFDF;
    height: fit-content;
    align-items: center;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    flex-direction: column;
    padding-bottom: 10px;
}
.container4 h2{
    color:#6930C3;
    font-family: arial, sans-serif;
    text-align: center;
    font-size: 40pt;
}
.container4 img{
    width: 300px;
    height: 300px;
}
.tombol{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content h3{
    color: #6930C3;
    font-family: arial, sans-serif;
    font-size: 20px;
    margin-left: 30px;
}
.gabung{
    border-color: #6930C3;
    border-style: solid;
    display: flex;
    background-color: #64DFDF;
    border-radius: 40px;
    justify-content: center;
    width: 60px;
    margin: 0;
    padding: 10px;
    margin-right: 5px;
}
.gabung a{
    text-decoration: none;
    font-family: arial, sans-serif;
    color: #6930C3;
}
.gabung a:hover{
    color: white;
    background-color: #6930C3;
}
.gabung:hover{
    background-color: #6930C3;
    border-color: white;
}
.masuk{
    border-color: #6930C3;
    border-style: solid;
    display: flex;
    background-color: #64DFDF;
    border-radius: 40px;
    justify-content: center;
    margin: 0;
    width: 60px;
    padding: 10px;
    margin-left: 5px;
}
.masuk a{
    text-decoration: none;
    font-family: arial, sans-serif;
    color: #6930C3;
}
.masuk:hover{
    background-color: #6930C3;
    border-color: white;
}
.masuk a:hover{
    color: white;
    background-color: #6930C3;
}
footer {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
footer {
    background-color:#24262b;
    padding-top: 60px;
    color: white;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
  }
.bawah{
    padding: 70px 0;
  }
.gambar2{
    width:132px;height:48px;
    margin-left: 60px;
  }
.container5{
    max-width: 1170px;
    margin: auto;
}
ul{
    list-style: none;
    padding: 0;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.footer-col{
    width: 200px;
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18pt;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #64DFDF;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: white;
    padding-left: 8px;
}
@media (max-width:490px){
    .logo{
        display: none;
    }
}
@media (max-width:900px) {
    .container3 h2{
        display:none;
    }
    .container2 img{
        display:none;
    }
}
@media (max-width: 574px) {
    .container3{
        display: flex;
        justify-content: center;
    } 
} 